body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto; 
}
header {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    width: 100%;
    margin-bottom: 50px;
}
.logo {
    width: auto;
    height: 50px;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: #f9faf8;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
}
h3 {
    color: #f9faf8;
}
.hero-text {
    max-width: 40%;
    padding: 10px;
}
button {
    margin: 20px;
    padding:15px 31px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 20px;
    text-decoration:none;
    border: 2px solid;
}
.upper-part {
    display: flex;
}
.kratosgow img {
    margin-left: 30%;
    margin-top: 4%;
    width: 50%;
    height: auto;
}
.bottom-part {
    margin-top: 20px;
    background-color: darksalmon;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
#elden img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#elden {
    text-align: center;
}
.other-games img{
    width: 70%;
    height: auto;
}
.other-games {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
img {
    border-radius: 20px;
}